.hbox {
    -fx-background-color: lightgrey;
}

.button {
	-fx-padding: 6px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
	-fx-font: 18 arial;
	
}

.pane {
	-fx-background-color: ghostwhite;
}