.hbox {
    -fx-background-color: lightgrey;
}

.button {
	-fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.pane {
	-fx-background-color: ghostwhite;
}
